h1 {
    text-align: center;
    font-size: 40px;
}

#beginning_draft_rectangle {
    border: 5px gray;
    border-style: solid;
    border-radius: 20px;
    background-color: lightgrey;
    color: rgb(100, 100, 100);
    width:45%;
    height:300px;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

.rectangle_template { 
    border: 5px gray;
    border-style: solid;
    border-radius: 20px;
    background-color: lightblue;
    color: black;
    width: 45%;
    height: 300px;
    font-size: 80px;
    margin: auto;
}