body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: lighter;
}

.draft_rectangle_template {
    border: 5px gray;
    border-style: solid;
    border-radius: 20px;
    background-color: lightgrey;
    color: rgb(100, 100, 100);
    width: 600px;
    height: 300px;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}

.rectangle_template { 
    border: 5px gray;
    border-style: solid;
    border-radius: 20px;
    background-color: lightblue;
    color: black;
    width: 600px;
    min-height: 300px;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
}

.message_box_template {
    border: 5px black;
    border-style: solid;
    border-radius: 20px;
    background-color: lightgreen;
    color: black;
    font-size: 40px;
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.message_box_input {
    width: 470px;
    height: 40px;
    font-size: 30px;
    border-radius: 10px;
    padding-left: 20px;
}

.requirement_template {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    min-height: 40px;
    font-size: 50px;
    font-weight: lighter;
    word-break: break-all;
}

.draft_area_template {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 40px;
    width: 500px;
    height: 50px;
    border-radius: 20px;
    border-width: 2px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    cursor: pointer;
}

.area_input_template {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 50px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-radius: 20px;
    background-color: lightblue;
    font-size: 40px;
    padding-left: 15px;
}

.area_container_template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    width: 540px;
    min-height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.area_template {
    display: flex;
    justify-content: center;
    font-weight: lighter;
    font-size: 40px;
    margin: 5px;
}

.draft_course_template {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 30px;
    width: 500px;
    height: 50px;
    border-width: 0.1px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 10px;
    cursor: pointer;
}

.course_input_template {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 30px;
    width: 500px;
    height: 50px;
    border-width: 0.1px;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding-left: 15px;
    background-color: lightblue;
}

.course_status_container_template {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 50px;
    word-break: break-all;
}

.course_name_template {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 25px;
    width: 200px;
    height: 50px;
    word-break: break-all;
}

.course_status_template {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 25px;
    width: 200px;
    height: 50px;
}