h2 {
    font-weight: normal;
    width: 33%;
}
#primary_major_requirement {
    width: 33%;
}

#general_education_requirement {
    width: 33%;
}

.Area {
    width: 70%;
    text-align: right;
}
.course {
    width: 33%;
    height: 50px;
    text-align: center;
    position: absolute;
    left: 150px;
    background-color: rgb(23, 195, 23);
    border: 2px;
    border-style: solid;
    border-color: rgb(18, 48, 18);
}

div.course_group h2 {
    float: left;
}

div.CLI h2 {
    position: fixed;
    right: 20px;
}

#cli-course-prefix {
    position: fixed;
    top: 22%;
    right: 473px;
    width: 40px;
}

#cli-course-numbers {
    position: fixed;
    top: 22%;
    right: 214px;
    width: 250px;
}

#select_requirement {
    position:fixed;
    top: 26%;
    right: 25%;
    width: 140px;
}

#select_area {
    position: fixed;
    top: 30%;
    right: 265px;
    width: 255px;
}

#select_action {
    position: fixed;
    top: 34%;
    right: 25%;
    width: 140px;
}