h1{
    text-align: center;
    font-size: 40px;
}

.course_box{
    border: 5px grey;
    border-style: solid;
    width:45%;
    height:300px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    left: 20px;
    font-size: 80px;
    color: rgb(100, 100, 100);
    cursor: pointer;
}